# Git
.git
.gitignore

# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Test files
src/test/

# Docker
Dockerfile
.dockerignore

*.md
.env
**/jmeter/